*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.section-one{
    background-image: linear-gradient to top(#D9E2FA rgb(217,226,250), #A598F9 rgb(165,152,249));
}


.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* position: sticky;
    top:0 ;
    z-index: 1; */
    background-color: white;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    text-decoration: none;
    padding: 0px 10px;
    font-size: 16px;
    color:  rgb(49, 49, 49);
    font-weight: 400;
    line-height: 18px;
}

.menu-purple{
    color: #6851FF;
}

.toggle-btn{
    font-size: 30px;
    cursor: pointer;
}

/* Section one Start */

.section-one{
    max-width: 100%;
    height: 140vh;
    background: url(./Assets/Images/art20work-df4f7a46.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

}

.container-one{
    max-width: 100%;
    height: 90vh;

}

.heading1{
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
    letter-spacing: -.02em;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top:50px;
}

.heading2{
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
    letter-spacing: -.02em;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container-one p{
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 16px;
}


.input-container{
    display: flex;
    justify-content: center;
}

.input-field{
    padding: 8.5px 0px 8.5px 14px;
    width: 50vw;
    margin: 20px 0px;
    font-size: 16px;
    border-radius: 5px;
    border: 0.5px solid #BEBDC4;
}


.find-btn{
    text-decoration: none;
    padding: 10px 24px;
    background-color: #6851FF;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 700;
    width: 130px;
    line-height: 24px;
    text-align: center;
}

.btn-container{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    flex-direction: column;
}

.find-btn:hover{
    background-color: #3814bc;
}

.btn-container h6{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -.02em;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin:20px 0px 0px 0px;
}

.search-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.keywords-btn{
    padding: 07px 10px;
    text-decoration: none;
    border: 1px solid rgba(104, 81, 255, 0.5) ;
    margin: 05px 10px;
    border-radius: 5px;
    color: #6851FF;
    font-weight: 800;
    line-height: 16px;
    font-size: 14px;
    
}

.keywords-btn:hover{
    border: 1px solid rgba(104, 81, 255, 0.5) ;

}

/* Section one end */

/* Section Two Start */

.section-two{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-container{
    flex: 1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-container h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    padding-top: 100px;

}

.text-container p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

}

.text-color{
    color: #6851FF;
}


.box-container{
    flex: 1;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


.box-item{
    width: 276px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    cursor: pointer;
}

.box-item h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: rgb(104, 81, 255);
    margin: 10px 0px;
}

.box-item p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(63, 63, 63);
}

/* Section Two End */

/* Section Three Start */

.section-three{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-container1{
    width: 80%;
    text-align: center  ;
    height: 70vh;
    background-image: url(./Assets/Images/banner_career-4b7d86fb.webp);
    background-position: bottom ;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-container1 h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    padding-top: 100px;
}

.text-color-1{
    color: #6851FF;
}

.text-container1 p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

/* Section Three End */

/* Section Four Start */

.section-four{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-four h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    padding-top: 30px;
}

.text-color1{
    color: #6851FF;
}

.box-container2{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.row1{
    flex: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row2{
    flex: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.career-box{
    width: 276px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    cursor: pointer;
}

.career-box h6{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: rgb(104, 81, 255);
    margin: 10px 0px;
}

.career-box p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color:rgb(108, 108, 108);
}

.btn-cont{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: end;
}

.view-btn{
    font-size: 18px;
    margin-left: auto;
    color: rgb(104, 81, 255);
    line-height: 24px;
    font-weight: 400;
}

/* Section Five Start */

.section-five{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-five h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    padding-top: 30px;
}

.text-color1{
    color: #6851FF;
}

.box-container3{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.row3{
    flex: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;  
}

.row4{
    flex: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.job-box{
    width: 514.8px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    /* background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0)); */
    box-shadow: 0 6px 12px #0000001a;
    cursor: pointer;
}

.box-raw1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex: 1;
    padding-top: 30px;
}

.child1{
    text-align: left;
}

.child1 h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.child1 h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.child1 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(77, 59, 219);
}

.box-raw2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex: 1;
    padding-top: 10px;
}

.box-raw3{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex: 1;
    padding-top: 10px;
}

.child3{
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.child3 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.child4 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(63, 63, 63);
}

.child5  p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(63, 63, 63);
}

.Poster{
    color: rgb(77, 59, 219);
}

/* Section Five End */

/* Section Six Start */

.section-six{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    text-align: center;
}

.container1{
    width: 500px;
    height: 400px;

}

.container2{
    width: 500px;
    height: 400px;

}

.heading3{
    text-align: left;
}

.heading4{
    text-align: left;
}

.heading3 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    color: rgb(63, 63, 63);
}

.heading4 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    color: rgb(63, 63, 63);
}

.bottom-txt{
    color: rgb(104, 81, 255);

}

.line{
    width: 2.6px;
    height: 140px;
    background: rgb(104, 81, 255);
}

/* Section Six End */

/* Footer Start */

.footer-bar{
    position: relative;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    width: 100%;
    padding: 80px 0 50px;
}

.footer-raw1{
    display: flex;
    justify-content: space-between;
}

.item1{
  width: 25%;
  padding-left: 120px;
  margin:10px 0 0px;
  
}

.item1 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:  rgb(255, 255, 255);
}

.item2 ul li{
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    font-weight:400;
    color:  rgb(255, 255, 255);
    padding-right: 120px;
    margin:10px 0 0px;    
}

.mail{
    font-size: 16px;
    margin-right: 5px ;
}

.item3{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 30px;
}

.item3 img{
    cursor: pointer;
}

.item3 p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;

}

.icons{
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    width: 20%;
    gap: 60px;
    margin-bottom: 20px;
}

.footer-raw3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    border-top: 1px solid #E5E7EB;
    padding-top: 10px;
}

.item4 a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.item5 p{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

/* Footer End */


